@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --clr-main: #926739;
    --clr-white: #CDC0A7;
    --clr-gray: #e2e2e2;
    --clr-red: #961818;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea {
    margin: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: var(--clr-main);
}

aside {
    padding: 2rem;
    padding-right: 0;
    color: var(--clr-white);
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.button-menu {
    background-color: transparent;
    border: 0;
    color: var(--clr-white);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    padding: 1rem;
    font-size: .85rem;
    width: 100%;
}

.button-menu.active {
    background-color: var(--clr-white);
    color: var(--clr-main);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: relative;
}

.button-menu.active::before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    bottom: 100%;
    right: 0;
    background-color: transparent;
    border-bottom-right-radius: .5rem;
    box-shadow: 0 1rem 0 var(--clr-white);
}

.button-menu.active::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    top: 100%;
    right: 0;
    background-color: transparent;
    border-top-right-radius: .5rem;
    box-shadow: 0 -1rem 0 var(--clr-white);
}

.button-menu > i.bi-hand-index-thumb-fill,
.button-menu > i.bi-hand-index-thumb {
    transform: rotateZ(90deg);
}

.button-cart {
    margin-top: 2rem;
}

.numerito {
    background-color: var(--clr-white);
    color: var(--clr-main);
    padding: .15rem .25rem;
    border-radius: .25rem;
}

.button-cart.active .numerito {
    background-color: var(--clr-main);
    color: var(--clr-white);
}

.text-footer {
    color: var(--clr-main-light);
    font-size: .85rem;
}

main {
    background-color: var(--clr-white);
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 3rem;
}

.main-title {
    color: var(--clr-main);
    margin-bottom: 2rem;
}

.container-products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.product-imagen {
    max-width: 100%;
    border-radius: 1rem;
}

.product-details {
    background-color: var(--clr-main);
    color: var(--clr-white);
    padding: .5rem;
    border-radius: 1rem;
    margin-top: -2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.product-title {
    font-size: 1rem;
}

.add-product {
    border: 0;
    background-color: var(--clr-white);
    color: var(--clr-main);
    padding: .4rem;
    text-transform: uppercase;
    border-radius: 2rem;
    cursor: pointer;
    border: 2px solid var(--clr-white);
    transition: background-color .2s, color .2s;
}

.add-product:hover {
    background-color: var(--clr-main);
    color: var(--clr-white);
}


/** CARRITO **/

.container-cart {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.empty-cart,
.purchased-cart {
    color: var(--clr-main);
}

.products-cart {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.product-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-gray);
    color: var(--clr-main);
    padding: .5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
}

.product-imagen-cart {
    width: 4rem;
    border-radius: 1rem;
}

.product-cart small {
    font-size: .75rem;
}

.cart-product-delete {
    border: 0;
    background-color: transparent;
    color: var(--clr-red);
    cursor: pointer;
}

.action-cart {
    display: flex;
    justify-content: space-between;
}

.empty-actions-cart {
    border: 0;
    background-color: var(--clr-gray);
    padding: 1rem;
    border-radius: 1rem;
    color: var(--clr-main);
    text-transform: uppercase;
    cursor: pointer;
}

.right-acciones-cart {
    display: flex;
}

.total-action-cart {
    display: flex;
    background-color: var(--clr-gray);
    padding: 1rem;
    color: var(--clr-main);
    text-transform: uppercase;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    gap: 1rem;
}

.buy-action-cart {
    border: 0;
    background-color: var(--clr-main);
    padding: 1rem;
    color: var(--clr-white);
    text-transform: uppercase;
    cursor: pointer;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.header-mobile {
    display: none;
}

.close-menu {
    display: none;
}

.disabled {
    display: none;
}

/*** IMÁGENES ***/

.product-imagen {
    max-width: 100%;
    height: auto;
}

/*** MENU SÁNDWICH ***/

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    list-style: none;
}

.open-menu:focus + .dropdown-menu,
.dropdown-menu:focus {
    display: block;
}

.open-menu {
    position: absolute;
    top: 10px; /* Ajusta la posición vertical según tus preferencias */
    right: 10px; /* Ajusta la posición horizontal según tus preferencias */
}

/*** MEDIA QUERIES ***/

@media screen and (max-width: 850px) {
    .container-products {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 675px) {
    .container-products {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 600px) {

    .wrapper {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    aside {
        position: fixed;
        z-index: 9;
        background-color: var(--clr-main);
        left: 0;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .75);
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
        transition: .2s;
    }

    .aside-visible {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }

    .button-menu.active::before,
    .button-menu.active::after {
        display: none;
    }

    main {
        margin: 1rem;
        margin-top: 0;
        padding: 2rem;
    }

    .container-products {
        grid-template-columns: 1fr 1fr;
    }

    .header-mobile {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-mobile .logo {
        color: var(--clr-gray);
    }

    .open-menu, .close-menu {
        background-color: transparent;
        color: var(--clr-gray);
        border: 0;
        font-size: 2rem;
        cursor: pointer;
    }

    .close-menu {
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    .product-cart {
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: .5rem;
    }

    .cart-product-subtotal {
        display: none;
    }

    .action-cart {
        flex-wrap: wrap;
        row-gap: 1rem;
    }

    .open-menu {
        display: block;
        position: absolute;
        top: 10px;
        right: 25px;
    }
}

/* Estilos para dispositivos de escritorio (ancho mínimo de 601px) */
@media screen and (min-width: 601px) {
    .open-menu {
        display: none; /* Ocultar el botón de menú sándwich en dispositivos de escritorio */
    }
}

@media screen and (max-width: 400px) {
    .container-products {
        grid-template-columns: 1fr;
    }
}

/*** Tabla ***/
main {
    background-color: var(--clr-white);
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 3rem;
    overflow-x: auto; /* Permite hacer scroll horizontal si la tabla es ancha */
}

h2 {
    color: var(--clr-main);
    margin-bottom: 1.5rem; /* Espaciado inferior para el título de la tabla */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem; /* Espaciado superior para la tabla */
}

th, td {
    border: 1px solid var(--clr-gray);
    padding: 8px;
    text-align: left;
}

th {
    background-color: var(--clr-main);
    color: var(--clr-white);
}

.button-menu > i.bi-bag-check,
.button-menu > i.bi-person-check-fill,
.button-menu > i.bi-ui-checks {
    color: var(--clr-gray);
}

/** FORMULARIO **/

form {
    max-width: 600px;
    margin: auto;
}

label {
    display: block;
    margin-bottom: 8px;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border-radius: 2%;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background-color: var(--clr-main);
    border: 1px solid var(--clr-main);
}

.checkbox-container {
    display: flex;
    align-items: center;
}

td.checkbox-cell {
    padding: 8px;
}
